body{

	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */

  	font-family: 'Alegreya-Regular';
  	font-size: 20px;

}

@font-face {
	font-family: "Alegreya-Regular";
	src: url("../ext/Alegreya-Regular.ttf");
}

.font-weight-bold{

	font-weight: bold;
}

.correct-option{
	color: green;
}

.incorrect-option{
	color: red;
}

.ignored-question{
	color: orange;
}

.incomplete-question{
	color: brown;
}

.error-text{
	color: red;
}

.question-with-options{
	margin: 30px;
}

.option{

	margin-top: 15px;
	margin-left: 10px;
}