body{

	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */

}

.font-weight-bold{

	font-weight: bold;
}

.correct-option{
	color: green;
}

.incorrect-option{
	color: red;
}

.ignored-question{
	color: orange;
}

.incomplete-question{
	color: brown;
}

.error-text{
	color: red;
}